html, body {
  height: 100%;
  width: 100%;
  background-color: black;
  color: white;
}
#b {
  height: 100px;
  width: 100px;
}
#saw {
  height: 90px;
  width: 90px;
}
.items {
  display: inline;
}
#left {
  position: absolute;
}
#center {
  position: absolute;
  left: 30%;

}
#right {
  position: absolute;
  left: 60%;

}
#prs {
  object-fit: cover;
}